<%- include('header.html') %>
 
  <p>User ID: <%= session.userId %></p> 

  <% if (!session.userId) { %>
    <p><a href="login">Login</a> <%= __('to access your products') %></p>
  <% } else { %>
    <h2><%= __('Products') %></h2>
    <% products.forEach(product => { %>
      <p>
        <img
          src="<%= product.image ? `/images/${product.image}` : 'https://placehold.co/200' %>"
          alt="image"
          width="200"
        >
        <%=__('{{name}} has a price {{price}}€.', product) %>
        <a href="/products/delete/<%= product._id%>"><i class="bi bi-trash3"></i></a>
      </p>
    <% }) %>
  <% } %>
  
 
 <%- include('footer.html') %>